---
swagger: "2.0"
info:
  description: "This specification describes the Otto event bus"
  version: "1.0.0"
  title: "Otto Event Bus"
  contact:
    email: "rtyler@brokenco.de"
  license:
    name: "GNU AGPL 3.0"
    url: "https://www.gnu.org/licenses/agpl-3.0.en.html"
host: "ottodeploys.us"
basePath: "/v1"
schemes:
- "https"
- "http"
paths:
  /channel:
    get:
      summary: "List existing channels in the event bus"
      description: "Enumerate all the channels visible and available to the current\
        \ client's permission scope\n"
      operationId: "listChannels"
      produces:
      - "application/xml"
      - "application/json"
      parameters: []
      responses:
        200:
          description: "Successful enumeration"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Channel"
          x-responseId: "SuccessfulEnumeration"
          x-uppercaseResponseId: "SUCCESSFUL_ENUMERATION"
          uppercase_operation_id: "LIST_CHANNELS"
          uppercase_data_type: "VEC<CHANNEL>"
          producesXml: true
        400:
          description: "Invalid request"
          x-responseId: "InvalidRequest"
          x-uppercaseResponseId: "INVALID_REQUEST"
          uppercase_operation_id: "LIST_CHANNELS"
      operation_id: "list_channels"
      uppercase_operation_id: "LIST_CHANNELS"
      path: "/channel"
      PATH_ID: "CHANNEL"
      hasPathParams: false
      HttpMethod: "Get"
definitions:
  Channel:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      name:
        type: "string"
      consumers:
        type: "integer"
        format: "int64"
        description: "Number of current consumers"
      updatedAt:
        type: "string"
        format: "date-time"
      status:
        type: "string"
        description: "Channel Status"
        enum:
        - "ready"
        - "unavailable"
    xml:
      name: "Channel"
    example:
      name: "name"
      consumers: 6
      id: 0
      updatedAt: "2000-01-23T04:56:07.000+00:00"
      status: "ready"
    upperCaseName: "CHANNEL"
externalDocs:
  description: "Find out more about Otto"
  url: "https://github.com/rtyler/otto"
